.error-container {
  background-color: #000;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-heading {
  font-size: 5rem;
  margin-bottom: 1rem;
}

.error-message {
  font-size: 1.5rem;
  text-align: center;
}

.home-link {
  width: 7rem;
  height: 3rem;
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  background-color: #333;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.home-link:hover {
  background-color: #555;
}