.driver-card {
    height: max-content;
    width: max-content;
    margin: 0 auto;
}

.upper-container {
    display: flex;
    justify-content: center;
}

.lower-container {
    height: 410px;
    width: 350px;
    border: 1px solid var(--smoke-color);
    border-radius: 0.5rem;
    background: linear-gradient(45deg, var(--soft-black) 0%, var(--transparency-gray) 100%);
}

.lower-container-header {
    text-align: center;
}

.image-container-ext {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    bottom: -60px;
    height: 120px;
    width: 120px;
    border: 1px solid var(--image-container-border);
    background-color: var(--image-container-background);
}

.image-container-int {
    display: flex;
    box-sizing: border-box;
    height: 107.27px;
    width: 107.27px;
    border: 1px solid var(--image-container-border-alt);
    background-color: var(--image-container-background-alt);
    box-shadow: 0 0 4px 0 var(--image-container-box-shadow);
}

.c-stepper-item {
    position: relative;
    display: flex;
    gap: 2rem;
}

.c-stepper-item-before {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    width: 1.625rem;
    height: 1.625rem;
    border-radius: 50%;
}

.c-stepper-item-before-check {
    background-color: var(--yellow-btn-color);
    box-shadow: inset -2px -2px 4px 0 var(--yellow-btn-shadow), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.c-stepper-item-before-pending-ext {
    height: 26px;
    width: 26px;
    background-color: rgba(216, 216, 216, 0.08);
}

.c-stepper-item-before-pending-int {
    height: 18px;
    width: 18px;
    background-color: rgba(151, 151, 151, 0.2);
}

.c-stepper-item-before-pending-child {
    height: 10px;
    width: 10px;
    background-color: #FFFFFF;
    box-shadow: inset -2px -2px 3px 0 #939393;
}

.c-stepper-bar {
    height: 1.5rem;
    width: 2px;
    border-radius: 50%;
}

.c-stepper-bar-active {
    background-color: var(--yellow-btn-color);
}

.c-stepper-bar-pending {
    background-color: var(--smoke-color);
}

.c-stepper-text-active {
    color: white;
}

.c-stepper-text-pending {
    color: var(--smoke-text-color)
}

.track-button {
    height: 60px;
    width: 350px;
    background: linear-gradient(45deg, var(--soft-black) 0%, var(--dark-black) 100%);
    color: var(--smoke-color);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
    box-shadow: 0 0 0 1px var(--smoke-color);
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;
    outline: none;
}

.track-button:not(:disabled):hover {
    background: linear-gradient(45deg, var(--hover-black) 0%, var(--hover-dark) 100%);
}

.track-button:not(:disabled):active {
    background: linear-gradient(45deg, var(--active-black) 0%, var(--active-dark) 100%);
    outline: none;
}


.track-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

@media only screen and (max-width: 375px) {
    .lower-container {
        width: 300px;
    }
}